.page-break {
    page-break-after: always;
}

.markdown-body {
    font-size: 11px;
    margin: 0 auto;
}

.markdown-body-website {
    font-size: 14px;
    max-width: 900px;
}

.markdown-body pre > code {
    white-space: pre-wrap;
}

.indent {
    text-indent: 25px;
}

.col-skills {
    min-width: 110px;
}

.highlight-purple {
    color: #9900cc;
}
